# 0.0. Imports

In [1]:
import pandas                      as pd
import numpy                       as np
import seaborn                     as sns
import inflection
import math
import datetime

from boruta                        import BorutaPy
from sklearn.ensemble              import RandomForestRegressor
from sklearn.linear_model          import LinearRegression, Lasso
from sklearn.preprocessing         import RobustScaler, MinMaxScaler, LabelEncoder
from scipy.stats                   import chi2_contingency
from scipy                         import stats  as ss
from matplotlib                    import pyplot as plt
from IPython.display               import Image
from matplotlib                    import gridspec
from IPython.core.display          import HTML
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

## 0.1. Helper functions

In [2]:
def jupyter_settings():
    %matplotlib inline
    %pylab inline
    
    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = [35, 12]
    plt.rcParams['font.size'] = 24
    
    display( HTML( '<style>.container { width:100% !important; }</style>') )
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option( 'display.expand_frame_repr', False )
    
    sns.set()

In [3]:
jupyter_settings()

Populating the interactive namespace from numpy and matplotlib

## 0.2. Loading Data

In [4]:
# load data
df_raw = pd.read_csv('dataset/kc_house_data.csv', low_memory=False)

# 1.0. Data Preparation

In [5]:
df1 = df_raw.copy()

In [6]:
df1.head()

           id             date     price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  condition  grade  sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0         3       1.00         1180      5650     1.0           0     0          3      7        1180              0      1955             0    98178  47.5112 -122.257           1340        5650
1  6414100192  20141209T000000  538000.0         3       2.25         2570      7242     2.0           0     0          3      7        2170            400      1951          1991    98125  47.7210 -122.319           1690        7639
2  5631500400  20150225T000000  180000.0         2       1.00          770     10000     1.0           0     0          3      6         770              0      1933             0    98028  47.7379 -122.233           2720        8062
3  2487200875  20141209T000000  604000.0         4       3.00         1960      5000     1.0           0     0          5      7        1050            910      1965             0    98136  47.5208 -122.393           1360        5000
4  1954400510  20150218T000000  510000.0         3       2.00         1680      8080     1.0           0     0          3      8        1680              0      1987             0    98074  47.6168 -122.045           1800        7503

## 1.1. Data Dimension

In [7]:
# verify number of rows and columns in the dataset

print('Number of rows: {}'.format (df1.shape[0]))
print('Number of Cols: {}'.format (df1.shape[1]))

Number of rows: 21613
Number of Cols: 21

## 1.3. Data types

In [8]:
# change date object to datetime
df1['date'] = pd.to_datetime(df1['date'])

In [9]:
df1.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

## 1.4. Number of NA

In [10]:
# show sum of NA 
df1.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

## 1.5. Descriptive Statistics

In [11]:
# Separete numeric and categorical variables
num_attributes = df1.select_dtypes(include = ['int64', 'float64'])
cat_attributes = df1.select_dtypes(exclude = ['int64', 'float64', 'datetime64[ns]'])

print( 'Num of Categorical : {}'.format( cat_attributes.shape[1]) )
print( 'Num of Numerical: {}'.format( num_attributes.shape[1] ) )

Num of Categorical : 0
Num of Numerical: 20

In [19]:
# Central Tendency - Mean, Median
ct1 = pd.DataFrame(num_attributes.apply( np.mean )).T
ct2 = pd.DataFrame(num_attributes.apply( np.median )).T

# Dispersion - std deviation, min, max, range, skew, kurtosis
d1 = pd.DataFrame(num_attributes.apply( std )).T
d2 = pd.DataFrame(num_attributes.apply( min )).T
d3 = pd.DataFrame(num_attributes.apply( max )).T
d4 = pd.DataFrame(num_attributes.apply( lambda x: x.max() - x.min() )).T
d5 = pd.DataFrame(num_attributes.apply( lambda x: x.skew() )).T
d6 = pd.DataFrame(num_attributes.apply( lambda x: x.kurtosis() )).T

# concatenate
m = pd.concat([ d2, d3, d4, ct1, ct2, d1, d5, d6]).T.reset_index()
m.columns = [ 'attributes', 'min', 'max', 'range', 'mean', 'median', 'std', 'skew', 'kurtosis']
m

       attributes           min           max         range          mean        median           std       skew    kurtosis
0              id  1.000102e+06  9.900000e+09  9.899000e+09  4.580302e+09  3.904930e+09  2.876499e+09   0.243329   -1.260542
1           price  7.500000e+04  7.700000e+06  7.625000e+06  5.400881e+05  4.500000e+05  3.671187e+05   4.024069   34.585540
2        bedrooms  0.000000e+00  3.300000e+01  3.300000e+01  3.370842e+00  3.000000e+00  9.300403e-01   1.974300   49.063653
3       bathrooms  0.000000e+00  8.000000e+00  8.000000e+00  2.114757e+00  2.250000e+00  7.701453e-01   0.511108    1.279902
4     sqft_living  2.900000e+02  1.354000e+04  1.325000e+04  2.079900e+03  1.910000e+03  9.184196e+02   1.471555    5.243093
5        sqft_lot  5.200000e+02  1.651359e+06  1.650839e+06  1.510697e+04  7.618000e+03  4.141955e+04  13.060019  285.077820
6          floors  1.000000e+00  3.500000e+00  2.500000e+00  1.494309e+00  1.500000e+00  5.399764e-01   0.616177   -0.484723
7      waterfront  0.000000e+00  1.000000e+00  1.000000e+00  7.541757e-03  0.000000e+00  8.651520e-02  11.385108  127.632494
8            view  0.000000e+00  4.000000e+00  4.000000e+00  2.343034e-01  0.000000e+00  7.662998e-01   3.395750   10.893022
9       condition  1.000000e+00  5.000000e+00  4.000000e+00  3.409430e+00  3.000000e+00  6.507280e-01   1.032805    0.525764
10          grade  1.000000e+00  1.300000e+01  1.200000e+01  7.656873e+00  7.000000e+00  1.175432e+00   0.771103    1.190932
11     sqft_above  2.900000e+02  9.410000e+03  9.120000e+03  1.788391e+03  1.560000e+03  8.280718e+02   1.446664    3.402304
12  sqft_basement  0.000000e+00  4.820000e+03  4.820000e+03  2.915090e+02  0.000000e+00  4.425648e+02   1.577965    2.715574
13       yr_built  1.900000e+03  2.015000e+03  1.150000e+02  1.971005e+03  1.975000e+03  2.937273e+01  -0.469805   -0.657408
14   yr_renovated  0.000000e+00  2.015000e+03  2.015000e+03  8.440226e+01  0.000000e+00  4.016699e+02   4.549493   18.701152
15        zipcode  9.800100e+04  9.819900e+04  1.980000e+02  9.807794e+04  9.806500e+04  5.350379e+01   0.405661   -0.853479
16            lat  4.715590e+01  4.777760e+01  6.217000e-01  4.756005e+01  4.757180e+01  1.385605e-01  -0.485270   -0.676313
17           long -1.225190e+02 -1.213150e+02  1.204000e+00 -1.222139e+02 -1.222300e+02  1.408251e-01   0.885053    1.049501
18  sqft_living15  3.990000e+02  6.210000e+03  5.811000e+03  1.986552e+03  1.840000e+03  6.853754e+02   1.108181    1.597096
19     sqft_lot15  6.510000e+02  8.712000e+05  8.705490e+05  1.276846e+04  7.620000e+03  2.730355e+04   9.506743  150.763110

In [20]:

num_attributes.describe().T

                 count          mean           std           min           25%           50%           75%           max
id             21613.0  4.580302e+09  2.876566e+09  1.000102e+06  2.123049e+09  3.904930e+09  7.308900e+09  9.900000e+09
price          21613.0  5.400881e+05  3.671272e+05  7.500000e+04  3.219500e+05  4.500000e+05  6.450000e+05  7.700000e+06
bedrooms       21613.0  3.370842e+00  9.300618e-01  0.000000e+00  3.000000e+00  3.000000e+00  4.000000e+00  3.300000e+01
bathrooms      21613.0  2.114757e+00  7.701632e-01  0.000000e+00  1.750000e+00  2.250000e+00  2.500000e+00  8.000000e+00
sqft_living    21613.0  2.079900e+03  9.184409e+02  2.900000e+02  1.427000e+03  1.910000e+03  2.550000e+03  1.354000e+04
sqft_lot       21613.0  1.510697e+04  4.142051e+04  5.200000e+02  5.040000e+03  7.618000e+03  1.068800e+04  1.651359e+06
floors         21613.0  1.494309e+00  5.399889e-01  1.000000e+00  1.000000e+00  1.500000e+00  2.000000e+00  3.500000e+00
waterfront     21613.0  7.541757e-03  8.651720e-02  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  1.000000e+00
view           21613.0  2.343034e-01  7.663176e-01  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  4.000000e+00
condition      21613.0  3.409430e+00  6.507430e-01  1.000000e+00  3.000000e+00  3.000000e+00  4.000000e+00  5.000000e+00
grade          21613.0  7.656873e+00  1.175459e+00  1.000000e+00  7.000000e+00  7.000000e+00  8.000000e+00  1.300000e+01
sqft_above     21613.0  1.788391e+03  8.280910e+02  2.900000e+02  1.190000e+03  1.560000e+03  2.210000e+03  9.410000e+03
sqft_basement  21613.0  2.915090e+02  4.425750e+02  0.000000e+00  0.000000e+00  0.000000e+00  5.600000e+02  4.820000e+03
yr_built       21613.0  1.971005e+03  2.937341e+01  1.900000e+03  1.951000e+03  1.975000e+03  1.997000e+03  2.015000e+03
yr_renovated   21613.0  8.440226e+01  4.016792e+02  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  2.015000e+03
zipcode        21613.0  9.807794e+04  5.350503e+01  9.800100e+04  9.803300e+04  9.806500e+04  9.811800e+04  9.819900e+04
lat            21613.0  4.756005e+01  1.385637e-01  4.715590e+01  4.747100e+01  4.757180e+01  4.767800e+01  4.777760e+01
long           21613.0 -1.222139e+02  1.408283e-01 -1.225190e+02 -1.223280e+02 -1.222300e+02 -1.221250e+02 -1.213150e+02
sqft_living15  21613.0  1.986552e+03  6.853913e+02  3.990000e+02  1.490000e+03  1.840000e+03  2.360000e+03  6.210000e+03
sqft_lot15     21613.0  1.276846e+04  2.730418e+04  6.510000e+02  5.100000e+03  7.620000e+03  1.008300e+04  8.712000e+05

In [22]:
# level of variables 
num_attributes.apply( lambda x: x.unique().shape[0])

id               21436
price             4028
bedrooms            13
bathrooms           30
sqft_living       1038
sqft_lot          9782
floors               6
waterfront           2
view                 5
condition            5
grade               12
sqft_above         946
sqft_basement      306
yr_built           116
yr_renovated        70
zipcode             70
lat               5034
long               752
sqft_living15      777
sqft_lot15        8689
dtype: int64